@font-face {
  font-family: "iconfont"; /* Project id 4781276 */
  src: url('iconfont.woff2?t=1734088964251') format('woff2'),
       url('iconfont.woff?t=1734088964251') format('woff'),
       url('iconfont.ttf?t=1734088964251') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before {
  content: "\e607";
}

.icon-shanchu:before {
  content: "\e60c";
}

.icon-tianjiachangpian:before {
  content: "\e60f";
}

.icon-xin:before {
  content: "\e610";
}

.icon-bofangzhong:before {
  content: "\e68f";
}

.icon-zanting:before {
  content: "\e691";
}

.icon-zuidayinliang:before {
  content: "\e6ae";
}

.icon-suishenting:before {
  content: "\e6af";
}

.icon-paihangbanggequ:before {
  content: "\e6bd";
}

.icon-Pickup-3:before {
  content: "\e7fb";
}

.icon-a-Sound-wave2:before {
  content: "\e81f";
}

.icon-bofangliebiao:before {
  content: "\e716";
}

.icon-gengduo:before {
  content: "\e717";
}

.icon-sousuo:before {
  content: "\e608";
}

.icon-bofang:before {
  content: "\e609";
}

